:export {
  color1: #c9dab7;
  color2: #e0b1b3;
  color3: #bfbfbf;
  color4: #e7e4b3;
  color5: #ecd8a5;
  color6: #a4cde9;
  color7: #00aae2;
  color8: #e98c42;
  color9: #bd599d;
  color10: #49b860;

  color1a: #6a8e4a;
  color2a: #9d4245;
  color3a: #8f8f8f;
  color4a: #c2bc62;
  color5a: #cea24f;
  color6a: #4d8dc8;

  chartRed: #FF5959;
  chartYellow: #FEFF59;

  controlGray: #797979;
}
