@import "../../components/common.scss"

.lineChartControls
  position: relative
  width: 220px
  height: 20px
  margin-left: 50px
  margin-top: 5px
  flex: 0 0 20px
  transform: translate3d(0px, 0px, 0px)  // needed to keep visibility after scaling

  .scrubber
    position: absolute
    width: 100%
    margin-top: -5px

  .rcSliderDisabled
    background-color: $controlGray
