@import "common.scss";

.app {
  width: 100%;
  background: linear-gradient(28deg, #F0F0F0 0%, #C5C3C3 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
  background-color: #c8c8c8;
}
.mainContent{
  overflow: hidden;
  width: 100%;
  height: calc(100% - #{$bottomBarHeight + $bottomBarBorderWidth});
  position: fixed;
  top: 0;
  left: 0;
  transition: 1s;
  &.shrink{
    width: calc(100% - #{$rightPanelContainerWidth});
    left: 0;
  }
}

.rightContent{
  pointer-events: none;
  overflow-x: hidden;
  width: $rightPanelContainerWidth + $tabWidth;
  height: calc(100% - #{$bottomBarHeight + $bottomBarBorderWidth});
  min-height: 551px;
  position: fixed;
  top: 0;
  right: 0;
  transition: 1s;
  &.grow{
    right: 0;
  }
}

.modelInfo {
  text-align: left;
  position: absolute;
  top: 10px;
  left: 120px;
  color: $controlText;
  font-family: Lato;
  font-size: 12px;
  font-weight: bold;
}
.timeDisplay{
  width: 82px;
  height: 20px;
  position: fixed;
  top: 10px;
  left: 10px;
  background: white;
  border-radius: 4px;
  border: solid 1px $controlGray;
  text-align: center;
  color: $controlText;
  z-index: 2;
  font-family: Lato;
  font-size: 12px;
  font-weight: bold;
  padding: 4px;
  padding-top: 8px;
}
