$topBarHeight: 22px;
$bottomBarHeight: 65px;
$bottomBarBorderWidth: 1px;
$bottomBarBorderStyle: $bottomBarBorderWidth solid #797979;
$bottomBarTopPadding: 7px;
$bottomBarBorderRadius: 9px;

$hoverColor: #dfdfdf;

$scaleFont: 'Roboto Condensed', Lato, arial, sans-serif;

$controlLabel: #434343;
$controlIconLine: #797979;

