$topBarHeight: 22px;
$bottomBarHeight: 65px;
$bottomBarBorderWidth: 1px;
$bottomBarBorderStyle: $bottomBarBorderWidth solid #797979;
$bottomBarTopPadding: 7px;
$bottomBarBorderRadius: 9px;

$bottomBarWidgetGroupSpacing: 10px;

$hoverColor: #dfdfdf;

$scaleFont: 'Roboto Condensed', Lato, arial, sans-serif;

$controlLabel: #434343;
$controlIconLine: #797979;

$controlText: #434343;
$controlGray: #797979;
$controlGrayLight1: #dfdfdf;
$controlGrayLight2: #c9c9c9;
$zoneGreen: #cbf6d7;
$controlGreen: #8cffa1;
$controlGreenDark1: #62e079;
$controlGreenDark2: #32a447;
$waterDropletOutline: #0da8cc;
$waterDroplet: #15cdff;
$zone1Red: #ffd8fa;
$zone2Blue: #d6ecff;
$zone3Orange: #ffe8cd;
$fireLineYellow: #f7fe91;
$helitackBlue: #9feafe;
$fullscreenGray: #d1d3d4;
$sparkOrange: #ff4800;
$sparkYellow: #ffe000;
$pulaskiRed: #e21e1e;
$pulaskiGray: #bcbcbc;
$pulaskiBrown: #cea865;
$helitackOrange: #f77b0b;
$helitackYellow: #f9c139;
$helitackGray: #aaaaaa;
$helitackRotorGray: #b3b3b3;
