@import "common";


  .rightPanel {
    position: absolute;
    right: -$rightPanelWidth;
    top: 0;
    width: $rightPanelWidth;
    bottom: 0 !important;
    transition: all 0.8s;
    border-left: 2px solid $controlGreenDark2;
    border-top: 1px solid $controlGreenDark2;
    background-color: $controlGreenDark2;
    z-index: 0;

    .rightPanelContent{
      position: absolute;
      top:0;
      width: $rightPanelContentWidth;
      right: 0;
      bottom: 0;
      background-color:  rgba(255, 255, 255, 0.9);
      padding: 10px;
      .title{
        border-bottom: 1px solid $controlLabel;
        text-align: center;
        margin-bottom: 10px;
        font-size: 14px;
        font-weight: bold;
        color: $controlLabel;
      }
      .chartContainer{
        padding-top: 27px;
        background-color: white;
        border-radius: 5px;
        border: 2px solid $controlGreenDark2;
      }
    }
    &.open {
      right: 0;
      // border-left: 1px solid $controlIconLine;
    }

    .rightPanelTabs {
      pointer-events: all;
      position: absolute;
      display: block;
      margin: 0;
      margin-right: $rightPanelWidth;
      right: 0;
      list-style-type: none;
      padding-top: $tabVerticalSpacing;
    }

    .rightPanelTab {
      margin-top: $tabVerticalSpacing;
    }

    .tabContentBack {
      z-index: 1;
      position: absolute;
      width: $rightPanelWidth;
      bottom: 0;
      top: 0;
      right: 0;
      min-height: 618px;
      height: 100%;

      .tabContent {
        pointer-events: all;
        position: absolute;
        bottom: 0;
        top: 0;
        right: 0;
        width: $rightPanelInnerWidth;
        min-height: 618px;
        background-color: $tabContents;
        margin-right: 0;
        margin-left: auto;
        height: 100%;

        .drawerTitle {
          width: 100%;
          height: 17px;
          margin: 10px auto;
          font-family: Lato;
          font-size: 14px;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          text-align: center;
          color: $controlLabel;
        }
      }
    }
  }

