@import "common.scss";

.simulationInfo{
  height: 0;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  .zone{
    display: flex;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 124px;
    height: 34px;
    border-radius: 4px;
    padding: 6px;
    border: solid 1px $controlGray;
    background-color: $zone1Red;
    z-index: 2;
    &.zone1{
      background-color: $zone1Red;
    }
    &.zone2{
      background-color: $zone2Blue;
    }
    &.zone3{
      background-color: $zone3Orange;
    }
    .icon{
      width: 28px;
      height: 28px;
      padding-right: 8px;
      display: inline-block;
      &.droughtIcon{
        width: 22px;
        height: 20px;
      }
    }
    .zoneText{
      display: inline-block;
      width: 58px;
      height: 30px;
      color: $controlText;
      .zoneName{
        font-family: Lato;
        font-weight: bold;

      }
      .terrain{
        font-family: 'Roboto Condensed';
        font-size: 14px;
        font-weight: normal;
      }
    }
  }

  .windContainer{
    width: 90px;
    height: 118px;
    position: fixed;
    top: 60px;
    left: 10px;
    background: white;
    border-radius: 4px;
    border: solid 1px $controlGray;
    text-align: center;
    color: $controlText;
    z-index: 2;

    .windHeader{
      font-family: Lato;
      font-size: 12px;
      font-weight: bold;
      padding: 4px;
    }
    .windText{
      font-family: 'Roboto Condensed';
      font-size: 11px;
      font-weight: normal;
      width: 60px;
      margin: auto;
    }
    .windDial{
      transform: scale(0.7);
      transform-origin: left;
      filter: grayscale(1);
      margin-left: 6px;
    }
  }
}