@import "common.scss";

.terrain{
  position: fixed;
  top: 40px;
  width: 512px;
  height: 485px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  border: 1px solid silver;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);

  background: #fff;

  padding: 15px;
  padding-top: 32px;

  &.disabled{
    display: none;
  }

  .header{
    margin-top: -28px;
    text-align: center;
    font-size: 14px;
    font-family: Lato;
  }

  .widgetGroup{
    margin-top: 20px;
  }

  .zones{
    width: 100%;
    height: 307px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    .zone{
      flex-grow: 1;
      /* flex options for children */
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      align-items: center;
      width: 250px;  /* Or whatever */
      height: 200px; /* Or whatever */
      margin: auto;
      background-color: #eeeeee;
      border-radius: 10px;
      padding: 4px;
      .terrainType{
        height: 25px;
        width: 100%;
        background: teal;
      }
      .terrainPreview{
        width: 100%;
        height: 100%;
        background: orange;
      }
    }
  }
}