@import "common.scss";

.terrain{
  width: 100%;

  .terrainSelectorHeader{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 16px;
    font-size: 12px;
    color: $controlText;
  }
  .terrainSelector{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row !important;
    justify-content: center;
    text-align: center;
    height: 25px;

    .terrainOption{
      flex-grow: 1;
      span{
        font-size: 10px !important;
        font-family: 'Roboto Condensed';
        color: $controlGray;
      }
      .radio{
        svg{
          width: 18px;
          height: 18px;
        }
      }
    }
  }
}