@import "common.scss";

.selector {
  &.disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  .header {
    font-size: 12px;
    font-family: Lato;
    font-weight: bold;
    color: $controlText;
  }

  .sliderContainer {
    position: relative;
    margin-top: 26px;
    height: 100px;
  }

  .sliderIcons {
    position: absolute;
    margin-top: 10px;
    left: 20px;
    height: 104px;
    width: 28px;

    .sliderIcon {
      position: absolute;
      top: auto;
      width: 26px;
      height: 26px;

      &.top {
        bottom: 100%;
      }

      &.mid {
        bottom: 50%;
      }

      &.bottom {
        bottom: 0%;
      }

      &.topQuarter {
        bottom: 66%;
      }

      &.bottomQuarter {
        bottom: 33%;
      }

      &.placeholder {
        border: 1px solid $controlGray;
        background-color: #ffffff;
      }

      svg {
        width: 100%;
        height: 100%;
      }
    }
  }

  .slider {
    height: 103px;
    margin-left: 35px;

    .rail {
      width: 1px;
      opacity: 1;
      background-color: $controlGray;
    }

    .mark {
      width: 4px;
      height: 4px;
      border-radius: 4px;
      border: solid 1px $controlGray;
      background-color: #d8d8d8;
    }

    .markLabel {
      font-size: 10px;
      width: 32px;
      font-family: 'Roboto Condensed';
      min-height: 20px;
      white-space: normal;
      line-height: normal;
    }

    .thumb {
      width: 20px;
      height: 20px;
      background-image: url("../assets/slider-vertical.svg");
      box-shadow: none;

      &:hover {
        box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.5);
      }

      &:active,
      &:global(.Mui-active),
      &:global(.Mui-focusVisible) {
        box-shadow: 0 0 0 3px rgba(255, 255, 255, 1);
      }
    }

    .disabled {
      opacity: 0.25;
    }
  }
}
