@import "common.scss";

.zone{
  flex-grow: 1;
  /* flex options for children */
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  font-family: Lato;
  height: 140px;
  margin: auto;
  padding: 4px;

  &.selected, &:hover{
      .terrainPreview{
        border: solid 4px #ffffff;
        .terrainImage {
          opacity: 100%;
        }
      }
    }

  .terrainPreview{
    width: 100%;
    height: 100%;
    border: solid 4px transparent;
    position: relative;

    .terrainImage{
      width: 100%;
      opacity: 50%;
      height: 100%;
      background-size: cover;
      &.mildDrought{
        filter:
          hue-rotate(327deg)
          saturate(80%)
          brightness(115%);
      }
      &.mediumDrought{
        filter:
          hue-rotate(316deg)
          saturate(80%)
          brightness(130%);
      }
      &.severeDrought{
        filter:
          hue-rotate(297deg)
          saturate(65%)
          brightness(120%);
      }
    }

    .riverOverlay{
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-repeat: no-repeat;
      background-size: cover;
    }

    .vegetationPreview{
      position: absolute;
      left: 6px;
      bottom: 6px;
      width: 26px;
      height: 26px;
      border: 1px solid #ffffff;
      background-color: #ffffff;
      opacity: 60%;
      &.right{
        left: auto;
        right: 6px;
      }
      &.mid{
        left: 26px;
      }
      svg{
        width: 100%;
        height: 100%;
      }
    }

    .zoneLabelBorder{
      position: absolute;
      left: calc(50% - 32px);
      z-index: 1;
      width: 64px;
      height: 30px;
      display: inline-block;
      color: $controlText;
      border-radius: 8px;
      margin-top: 8px;
    }

    .zoneLabel{
      position: absolute;
      z-index: 2;
      width: 55px;
      left: 3px;
      top: 3px;
      height: 22px;
      font-size: 12px;
      display: inline-block;
      font-weight: bold;
      line-height: 22px;
      color: $controlText;
      border-radius: 4px;
      border: solid 1px $controlGray;
      background-color: #ffffff;
      opacity: 50%;
    }

    .zoneOption{
      display: none;
    }

    &:hover{
      border: solid 4px rgba(255,255,255,0.5);
      .zoneLabelBorder{
        background-color: rgba(255,255,255,0.5);
      }
    }

    &:active{
      border: solid 4px #ffffff;
      .zoneLabelBorder{
        background-color: rgba(255,255,255,1.0);
      }
    }
  }

  &.selected, &:hover{
    .vegetationPreview {
      opacity: 100%;
    }
    .zoneLabelBorder{
      background-color: rgba(255,255,255,0.5);
    }
    .zoneLabel{
      opacity: 100%;
      &.zone1{
        background-color: $zone1Red;
      }
      &.zone2{
        background-color: $zone2Blue;
      }
      &.zone3{
        background-color: $zone3Orange;
      }
    }
  }

  &.fixed{
    .terrainPreview{
      &:hover{
        border: solid 4px transparent;
      }
      .zoneLabel{
        border: none;
        &.zone1{
          background-color: $zone1Red;
        }
        &.zone2{
          background-color: $zone2Blue;
        }
        &.zone3{
          background-color: $zone3Orange;
        }
      }
    }
  }
}